* {
  font-family: Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  margin: 0;
}

html,
body,
#root {
  height: 100%;
}

.app {
  height: 100%;
}
/* ::-webkit-scrollbar { */
/*   width: 6px; */
/* } */

/* /1* Track *1/ */
/* ::-webkit-scrollbar-track { */
/*   background: #eee; */
/*   border-radius: 10px; */
/* } */

/* /1* Handle *1/ */
/* ::-webkit-scrollbar-thumb { */
/*   background: #999; */
/*   border-radius: 12px; */
/* } */

/* /1* Handle on hover *1/ */
/* ::-webkit-scrollbar-thumb:hover { */
/*   background: grey; */
/* } */
