.app {
  height: 100%;
}

/*
::-webkit-scrollbar {
  width: 6px;
}
 
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
::-webkit-scrollbar-thumb {
  background: rgb(181, 181, 181); 
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(158, 158, 158); 
} */
